<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login de Usuario</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header-top">
            <div class="logo">
                <!-- Agregar el enlace al logo -->
                <a href="/">
                    <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" style="width: 150px; height: auto;">
                </a>
            </div>
    
            <div class="barra-busqueda">
                <form action="#" method="GET">
                    <input type="text" name="busqueda" placeholder="Buscar productos, marcas" class="texto-fondo">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
    
            <div class="compra-cuotas">
                <i class="fas fa-credit-card" id="icon-tarjeta"></i>
                <p>Compra en cuotas con tarjeta de crédito</p>
            </div>
        </div>
    
        <div class="header-bottom">
            <nav>
                <ul id="nav-list">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </nav>
    
            <nav>
                <ul id="user-list">
                    <li><a href="/register">Creá tu cuenta</a><i class="fas fa-user-plus"></i></li>
                    <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#">Mis compras</a><i class="fas fa-shopping-cart"></i></li>
                </ul>
            </nav>
        </div>
    </header>
    
<body>
    <h1>Registro de Usuario</h1>
    <form action="index.html" method="post">
        <input type="text" id="nombre" name="nombre" required placeholder="Nombre y Apellido" pattern=".{2,}" title="El nombre debe tener al menos 2 caracteres">

        <input type="text" id="usuario" name="usuario" required placeholder="Nombre de usuario" pattern=".{3,}" title="El nombre de usuario debe tener al menos 3 caracteres">

        <input type="date" id="fecha-nacimiento" name="fecha-nacimiento" required placeholder="Fecha de nacimiento">

        <input type="text" id="domicilio" name="domicilio" required placeholder="Domicilio">

        <select id="perfil" name="perfil" required>
            <option value="comprador">Comprador</option>
            <option value="vendedor">Vendedor</option>
        </select>

        <div id="categorias">
            <label><input type="checkbox" name="categorias" value="electro"> Electro</label>
            <label><input type="checkbox" name="categorias" value="moda"> Moda</label>
            <label><input type="checkbox" name="categorias" value="hogar"> Hogar</label>
            <label><input type="checkbox" name="categorias" value="jugueteria"> Juguetería</label>
            <label><input type="checkbox" name="categorias" value="vida-sana"> Vida Sana</label>
        </div>

        <input type="file" id="foto" name="foto" accept="image/*" required placeholder="Foto de usuario">

        <input type="password" id="password" name="password" required placeholder="Contraseña">

        <input type="password" id="confirmar-password" name="confirmar-password" required placeholder="Confirmar Contraseña">

        <button type="submit">Enviar</button>
        <button type="reset">Borrar</button>
    </form>
</body>

</html>