/*Estilos grales*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-color: lightgray;
  }
  
  main {
    width: 90%;
    margin: 0 auto;
  }
  
  /*Estilos del header*/
  header {
    background-color: #eac926;
    color: #ebebeb;
    padding: 10px;
  }
  
  header .barra-busqueda {
    text-align: left;
  }
  
  .burger-menu {
    margin: auto;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: #1259c3;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /*Barra nav*/
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  /*reemplazado por microdesafio 3 clase 22 - Estilos de usuario*/
  #user-list .fas {
    color: black;
  }
  
  .logo {
    text-align: left;
  }
  
  .barra-busqueda {
    text-align: left;
    margin-bottom: 10px;
  }
  
  .compra-cuotas {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
  
  #icon-tarjeta {
    margin-left: 25px;
    color: black;
  }
  
  .compra-cuotas i {
    font-size: 18px;
    margin-right: 5px;
    color: #39b54a;
  }
  
  .compra-cuotas p {
    font-size: 14px;
    color: black;
    font-weight: bold;
    margin: 0;
  }
  
  /* Estilos del Banner */
  .Banner {
    text-align: center;
    position: relative;
    width: 100%;
    /*Contenedor elementos  */
  }
  
  main {
    width: 90%;
    margin: 0 auto;
  }
  
  .img_banner {
    max-width: 100%;
    /* Para que la imagen no exceda ancho del contenedor */
    height: auto;
    /* Mantiene relación de aspecto  */
  }
  
  section {
    margin-bottom: 10px;
  }

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* Estilos del formulario de inicio de sesión */
h1 {
    text-align: center;
    margin: 20px 0;
}

form {
    width: 90%;
    margin: 0 auto;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
}

select {
    height: 40px;
}

button {
    padding: 10px 20px;
    background-color: #EAC926;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #d5bd19;
}

/*a ver si puedo desaparecer los puntos*/
#nav-list li::marker,
#user-list li::marker {
  display: none;
}
#nav-list li::before,
#user-list li::before {
  content: none;
}

/* Estilo para los campos de entrada */
input {
    display: block;
    width: 100%;
    max-width: 30ch; /* Limita el ancho a xx caracteres */
    margin-bottom: 10px; /* Agrega espacio entre los campos */
}

/* Estilos para los campos de entrada 
input#usuario {
    max-width: 40ch; /* Limita el ancho a xx caracteres 
}

input#contrasena {
    max-width: 40ch; /* Limita el ancho a xx caracteres
}*/

/*Para que el color de fondo del botón de envío del formulario */
button[type="submit"] {
    padding: 10px 20px;
    background-color: #EAC926;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* Agregamos la transición para hacer el cambio suave de color */
    transition: background-color 0.3s ease;
}

/* Cambiar el color de fondo al pasar el mouse por encima */
button[type="submit"]:hover {
    background-color: #0022AA;
}

/* Estilo del footer */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #f2f2f2;
    color: #333;
    position: relative;
  }
  
  footer section {
    flex: 0 0 calc(33.33% - 20px);
    text-align: center;
    margin: 10px;
  }
  
  footer section i {
    font-size: 2em;
    color: #1259c3;
    margin-bottom: 10px;
    transition: color 0.3s ease;
  }
  
  /* Estilo para cambiar el color de los íconos w/hover*/
  footer section i:hover {
    color: #39b54a;
  }
  
  /* Estilo del texto de copyright */
  footer section h4#Copyright {
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    left: 20px;
  }
  
  /* Media Queries */
  @media screen and (min-width: 361px) {
  
    /* Navegación en tablet (ancho mínimo 361px) */
    .Productos {
      flex: 1 0 calc(50% - 10px);
      /* Ajusta el ancho de los artículos para que haya dos por fila */
    }
  
    /* Oculta el nav-bar */
    .navbar {
      display: none;
    }
  
    /*Oculta el menú de usuario */
    #user-list {
      display: none;
    }
  }
  
  @media screen and (min-width: 769px) {
  
    /* Navegación en desktop (ancho mínimo 769px) */
    .Productos {
      flex: 1 0 calc(25% - 15px);
      /* Ajusta el ancho de los artículos para que haya cuatro por fila */
    }
  
    /* Desoculta el nav-bar */
    .navbar {
      display: block;
    }
  
    /* Muestra el menú de usuario */
    #user-list {
      display: block;
    }
  
    /* Estilos para la primera fila del header */
    .header-row1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }
  
    /* Estilos para el logo */
    .logo {
      flex: 1 0 30%;
      text-align: left;
    }
  
    .logo img {
      width: 100%;
      max-width: 150px;
      height: auto;
    }
  
    /* Estilos para la barra de búsqueda */
    .barra-busqueda {
      flex: 1 0 50%;
      text-align: center;
      margin-top: 10px;
    }
  
    .barra-busqueda form {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .barra-busqueda input[type="text"] {
      width: 100%;
      max-width: 400px;
      padding: 5px;
      font-size: 16px;
    }
  
    .barra-busqueda button {
      padding: 5px;
      background-color: #1259c3;
      color: white;
      border: none;
      cursor: pointer;
    }
  
    /* Estilos para el texto Compra en cuotas y sin tarjeta de crédito */
    .compra-cuotas {
      flex: 1 0 20%;
      text-align: right;
    }
  
    /* Estilos para la segunda fila del header */
    .header-row2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }
  
    /* Estilos para el menú de navegación */
    .navbar {
      flex: 1 0 50%;
      text-align: left;
    }
  
    .navbar ul {
      display: flex;
    }
  
    .navbar li {
      margin: 0 10px;
    }
  
    /* Estilos para el menú de usuario */
    #user-list {
      flex: 1 0 20%;
      text-align: right;
    }
  
    /* Estilos para el burger menu */
    .burger-menu {
      display: none;
    }
  
    /* Estilos para los textos Creá tu cuenta -Ingresá - Mis compras (2da fila) */
    #user-list li {
      display: inline-block;
    }
  
    #user-list i {
      margin-left: 5px;
    }
  }