* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: lightgray;
}

/* Estilos del formulario de registro */
h1 {
    text-align: center;
    margin: 20px 0;
}

form {
    width: 90%;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
}

select {
    height: 40px;
}

button {
    padding: 10px 20px;
    background-color: #EAC926;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="reset"] {
    background-color: #ccc;
    margin-left: 10px;
}

button[type="submit"]:hover,
button[type="reset"]:hover {
    background-color: #d5bd19;
}