/*Estilos grales*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

main {
  width: 90%;
  margin: 0 auto;
}

/*Estilos del header*/
header {
  background-color: #eac926;
  color: #ebebeb;
  padding: 10px;
}

header .barra-busqueda {
  text-align: left;
}

.burger-menu {
  margin: auto;
  text-align: center;
  width: 40px;
  height: 40px;
  background-color: #1259c3;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Barra nav*/
nav ul {
  list-style-type: none;
  padding: 0;
  display: none;
}


/*reemplazado por microdesafio 3 clase 22 - Estilos de usuario*/
#user-list .fas {
  color: black;
}

.logo {
  text-align: left;
}

.barra-busqueda {
  text-align: left;
  margin-bottom: 10px;
}

.compra-cuotas {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

#icon-tarjeta {
  margin-left: 25px;
  color: black;
}

.compra-cuotas i {
  font-size: 18px;
  margin-right: 5px;
  color: #39b54a;
}

.compra-cuotas p {
  font-size: 14px;
  color: black;
  font-weight: bold;
  margin: 0;
}

/* Estilos del Banner */
.Banner {
  text-align: center;
  position: relative;
  width: 100%;
  /*Contenedor elementos  */
}

main {
  width: 90%;
  margin: 0 auto;
}

.img_banner {
  max-width: 100%;
  /* Para que la imagen no exceda ancho del contenedor */
  height: auto;
  /* Mantiene relación de aspecto  */
}

section {
  margin-bottom: 10px;
}

/* Estilo para los productos */
.ProductosContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* Ajusta los espacios entre los artículos */
}

.Productos {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ebebeb;
  padding: 15px;
  max-width: 300px;
  margin-bottom: 10px;
}

.Productos img {
  width: 100%;
  height: auto;
}

.Productos div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
}

.Productos p {
  font-size: 14px;
  font-weight: bold;
  /*color: #1259c3;*/
  width: 30%;
  margin: 0;
}

.Productos h4 {
  margin: 0;
  width: 100%;
}

/* Estilo ícono camión */
.Productos div i {
  font-size: 20px;
  color: green;
  margin-right: 5px;
  transition: transform 0.3s ease;
}

/*Estilo para cambiar el color del texto del descuento */
.Productos p:last-child {
  color: green;
  opacity: 0.7;
}

/*Estilos camion*/
/* Estilo animar icono del camión*/
.Productos div:hover i {
  transform: rotate(-90deg);
}

/*Alinea el ícono del camión a la derecha */
.Productos .icono-camion {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
  position: relative;
}

.Productos .icono-camion i {
  margin-left: auto;
  font-size: 20px;
  color: green;
  margin-right: 5px;
  transition: transform 0.3s ease;
}

/*Estilo circulo camion*/
.Productos .icono-camion::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 94%;
  /*Cambia la posición del círculo*/
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 2px solid green;
  border-radius: 50%;
  z-index: 0;
  opacity: 0.8;
}

.Productos>div i {
  position: relative;
  font-size: 20px;
  color: green;
  transform: rotate(0);
  transition: transform 0.3s ease;
  right: 0;
}

.Productos:hover>div i {
  transform: rotate(-90deg);
}

/* Ocultar el nombre del producto inicialmente */
.Productos h4 {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Mostrar el nombre del producto when hover*/
.Productos:hover h4 {
  opacity: 1;
}

/* Rotar el ícono del camión when hover */
.Productos i {
  transition: transform 0.3s ease;
}

.Productos:hover i {
  transform: rotate(90deg);
}

/* Sombra para tarjeta de producto w/hover*/
.Productos {
  box-shadow: 0px 2px 4px rgba(255, 0, 0, 0.5);
  /* Cambie el color a rojo por que no se ve */
  transition: box-shadow 0.3s ease;
}

.Productos:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 255, 0.5);
  /* Cambie el color a azul x que no se ve  */
}

/*Así es lo correcto*/
/*.Productos {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.Productos:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}*/

/* Estilo del footer */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background-color: #f2f2f2;
  color: #333;
  position: relative;
}

footer section {
  flex: 0 0 calc(33.33% - 20px);
  text-align: center;
  margin: 10px;
}

footer section i {
  font-size: 2em;
  color: #1259c3;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

/* Estilo para cambiar el color de los íconos w/hover*/
footer section i:hover {
  color: #39b54a;
}

/* Estilo del texto de copyright */
footer section h4#Copyright {
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  left: 20px;
}

/* Media Queries */
@media screen and (min-width: 361px) {

  /* Navegación en tablet (ancho mínimo 361px) */
  .Productos {
    flex: 1 0 calc(50% - 10px);
    /* Ajusta el ancho de los artículos para que haya dos por fila */
  }

  /* Oculta el nav-bar */
  .navbar {
    display: none;
  }

  /*Oculta el menú de usuario */
  #user-list {
    display: none;
  }
}

@media screen and (min-width: 769px) {

  /* Navegación en desktop (ancho mínimo 769px) */
  .Productos {
    flex: 1 0 calc(25% - 15px);
    /* Ajusta el ancho de los artículos para que haya cuatro por fila */
  }

  /* Desoculta el nav-bar */
  .navbar {
    display: block;
  }

  /* Muestra el menú de usuario */
  #user-list {
    display: block;
  }

  /* Estilos para la primera fila del header */
  .header-row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  /* Estilos para el logo */
  .logo {
    flex: 1 0 30%;
    text-align: left;
  }

  .logo img {
    width: 100%;
    max-width: 150px;
    height: auto;
  }

  /* Estilos para la barra de búsqueda */
  .barra-busqueda {
    flex: 1 0 50%;
    text-align: center;
    margin-top: 10px;
  }

  .barra-busqueda form {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .barra-busqueda input[type="text"] {
    width: 100%;
    max-width: 400px;
    padding: 5px;
    font-size: 16px;
  }

  .barra-busqueda button {
    padding: 5px;
    background-color: #1259c3;
    color: white;
    border: none;
    cursor: pointer;
  }

  /* Estilos para el texto Compra en cuotas y sin tarjeta de crédito */
  .compra-cuotas {
    flex: 1 0 20%;
    text-align: right;
  }

  /* Estilos para la segunda fila del header */
  .header-row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  /* Estilos para el menú de navegación */
  .navbar {
    flex: 1 0 50%;
    text-align: left;
  }

  .navbar ul {
    display: flex;
  }

  .navbar li {
    margin: 0 10px;
  }

  /* Estilos para el menú de usuario */
  #user-list {
    flex: 1 0 20%;
    text-align: right;
  }

  /* Estilos para el burger menu */
  .burger-menu {
    display: none;
  }

  /* Estilos para los textos Creá tu cuenta -Ingresá - Mis compras (2da fila) */
  #user-list li {
    display: inline-block;
  }

  #user-list i {
    margin-left: 5px;
  }
}